
<div class="container " align="center">
    <div class=" boxxx" >
        <h1  align="center">choose your preferred logo place ...</h1>
    <div class="choices ">
        <div class=" box float-child col-lg-6">
            <div class="column">
                    <img src="../../../assets/images/p1.png" align="center" class="card-img-top" alt="...">
            </div>
            <br>
          
            <div class="col-lg-6 myradio" align="center">
                <p>(default)</p>
                <input type="radio" id="1" name="place" >
          
        </div>
        </div>

        <div class=" box float-child col-lg-6">
            <div class="column">
                    <img src="../../../assets/images/p2.png" align="center" class="card-img-top" alt="...">
            </div>
            <br>
           
            <div class="col-lg-6 myradio" align="center">
                <br>
                <input type="radio" id="1" name="place" >
            </div>
        </div>

        <div class=" box float-child col-lg-6">
            <div class="col">
                    <img src="../../../assets/images/p3.png" align="center" class="card-img-top" alt="...">
            </div>
            <br>
           
            <div class="col-lg-6  myradio" align="center">
                <br>
                <input type="radio" id="1" name="place" >
            </div>
       
        </div>

        <div class=" box float-child col-lg-6">
            <div class="col">
                    <img src="../../../assets/images/p4.png" align="center" class="card-img-top" alt="...">
            </div>
            <br>
            <div align="center" style="align-items: center;">
            <div class="col-lg-6  myradio" align="center">
                <br>
                <input type="radio" id="1" name="place" >
            </div>
        
        </div>
        

        </div>

        <button class="btn2">Submit</button>
    </div>
</div>
