


<div class="container " align="center">
    <div class=" boxxx" align="center">
        <h1  align="center">choose your preferred logo place ...</h1>
       
        <div class = "row">
            <div class="leftside" align="center">
                <button class="btn6" type="submit"
                style= "background:transparent url(../../../assets/icons/12.svg)
                no-repeat center" 
                >
                </button>
                <input type="input" placeholder="Add text ..." align="center" >


            </div>
            <div class="main " align="center">
                <div class=" FB ">
                    <a href="#">Front</a>
                    |
                    <a href="#">Back</a>
                </div>
                <div class="box">
                    
                    <img src="../../../assets/images/product 1.svg" align="center" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="rightside" align="center">
                <button class="btn6" type="submit"
                style= "background:transparent url(../../../assets/icons/13.svg)
                no-repeat center" 
                >
                </button>
                <h3  align="center">This helps you move your design.</h3>

            </div>
        </div>

        <h2  align="center">Your final result</h2>

        <div class = "row2 row" align="center">
            <div class=" box2 float-child">
                <div class="column">
                        <img src="../../../assets/images/Vector.png" align="center"  alt="...">
                </div>
            </div>
            <div class=" box2 float-child">
                <div class="column">
                        <img src="../../../assets/images/Vector.png" align="center"  alt="...">
                </div>
            </div>
            <div class=" box2 float-child">
                <div class="column">
                        <img src="../../../assets/images/Vector.png" align="center"  alt="...">
                </div>
            </div>
        </div>

        <button class="btn2">Submit</button>
    </div>
</div>
