

<div class="container" align="center">
    <h2 align="left" style="padding-left: 70px;" >Our designs :</h2>
<img src="../../../assets/icons/9.svg" align="center" >
</div>
<br>
<br>

<div class="container" align="center">
    
    <div class=" box float-child col-lg-6">
        <div class="col">
            <button  class="col-lg-4" type="submit"  style= "background:transparent url(../../../assets/icons/5.svg)  no-repeat center" ></button>
            <img src="../../../assets/images/product 1.svg" align="center" class="card-img-top" alt="...">
        </div>
        <br>
        <div class="row" align="center" style="align-items: center;">
        <div class="col-lg-6" align="center">
            <p>Music On-World Off</p>
            <h1 >40,000 sp</h1>
        </div>
            <button  class="col-lg-5" type="submit"
                style= "background:transparent url(../../../assets/icons/8.svg)  no-repeat center" ></button>
        
    </div>
    </div>


    <div class=" box float-child col-lg-6">
        <div class="col">
            <button  class="col-lg-4" type="submit"  style= "background:transparent url(../../../assets/icons/5.svg)  no-repeat center" ></button>
            <img src="../../../assets/images/product 1.svg" align="center" class="card-img-top" alt="...">
        </div>
        <br>
        <div class="row" align="center" style="align-items: center;">
        <div class="col-lg-6" align="center">
            <p>Music On-World Off</p>
            <h1 >40,000 sp</h1>
        </div>
            <button  class="col-lg-5" type="submit"
                style= "background:transparent url(../../../assets/icons/8.svg)  no-repeat center" ></button>
        
    </div>
    </div>

    <div class=" box float-child col-lg-6">
        <div class="col">
            <button  class="col-lg-4" type="submit"  style= "background:transparent url(../../../assets/icons/5.svg)  no-repeat center" ></button>
            <img src="../../../assets/images/product 1.svg" align="center" class="card-img-top" alt="...">
        </div>
        <br>
        <div class="row" align="center" style="align-items: center;">
        <div class="col-lg-6" align="center">
            <p>Music On-World Off</p>
            <h1 >40,000 sp</h1>
        </div>
            <button  class="col-lg-5" type="submit"
                style= "background:transparent url(../../../assets/icons/8.svg)  no-repeat center" ></button>
        
    </div>
    </div>

    <div class=" box float-child col-lg-6">
        <div class="col">
            <button  class="col-lg-4" type="submit"  style= "background:transparent url(../../../assets/icons/5.svg)  no-repeat center" ></button>
            <img src="../../../assets/images/product 1.svg" align="center" class="card-img-top" alt="...">
        </div>
        <br>
        <div class="row" align="center" style="align-items: center;">
        <div class="col-lg-6" align="center">
            <p>Music On-World Off</p>
            <h1 >40,000 sp</h1>
        </div>
            <button  class="col-lg-5" type="submit"
                style= "background:transparent url(../../../assets/icons/8.svg)  no-repeat center" ></button>
        
    </div>
    </div>


</div>