


<div class="container" align="center">
    <h2 align="left" style="padding-left: 70px;" >Our designs : </h2>
<img src="../../../assets/icons/9.svg" align="center" class="line" >
</div>
<br>
<br>

<div class="container2 ">
    <div class="my-card " >
        <!-- <app-card  ></app-card> -->

        <!-- ok -->
        <!-- <app-card  [items]="allproduct"></app-card>
        -->

        <div *ngFor="let productsEl of allproduct">
        <app-card [item]="productsEl"> </app-card> 
        </div> 
        
    </div>
</div>
