

.row{
 
      align-items: center;
  
   padding: 30px; 
}

a {
    font-family: Acumin Variable Concept;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
    display: inline-block;
    text-decoration: none;
 }

 h1{
    position: relative;
    top: 50px;

    color: rgba(255, 255, 255, 0.9);
    font-family: Acumin Variable Concept;
font-size: 24px;
font-weight: 700;
line-height: 29px;


}

.btn6  {
      
    border: 0px solid transparent; 
    cursor: pointer;
    width: 80px;
    height: 80px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 40px;
    align-items: center;
}

@media (max-width:450px) {
    .btn6  {
    margin-left: 5px;
    margin-right:5px;
    margin-top: 15px;
    }
}