<p>logininfo works!</p>
<div class="container " align="center" >
    <div class=" box col-lg-6">
        <div class="top-left"> SIGN-UP</div>
        <h1  align="center">Sign-Up as :</h1>
        
        <img class="image1" src="../../../assets/icons/11.svg">
   
        <div class="row col-lg-7 col-7">
            <a style="text-align:left;" >individual</a>
            <a  style="color:  #132452; text-align:right;">organization</a>
        </div>
        <img class="image2" src="../../../assets/icons/10.svg">
        <form style="z-index: 1000">
     
            <div>
                <label  for="uname2">Phone Number: </label>
                <input type="tel" id="uname2" name="name" #phoneInput />
            </div>
            <div>
                <label  for="uname3">Code </label>
                <input type="text" id="uname3" name="name" #codeInput />
            </div>
           
            <button  class="btn2" type="submit" (click)="setloginobj()">Login</button>
       
          </form>
      
         
        
    </div>
</div>