<link rel="stylesheet" href="header.component.css">
<script src="https://code.jquery.com/jquery-3.4.1.js"
integrity="sha256–2z0P7MLoyxByUtvAk/xjkmindefS4auh4Pfzbm7y6g0="
crossorigin="anonymous"></script>


<nav class=" navbar navbar-expand-lg ">
    <a class="col-md-8 navbar-brand ">GLITCH</a>
    <button class="navbar-toggler" type="button"
    data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)='callfun2();'
      style="color:#fff;"
      >
      <button class=" navbar-toggler-icon btn6" type="submit"
      style= "background:transparent url(../../../assets/icons/24.svg)
        no-repeat center"></button>
 
    </button>

    <div class="collapse navbar-collapse " id="navbarTogglerDemo02" >
        <div class="  text-center">
        <button class=" btn btn-outline-light " type="submit" (click)="onSelect('Sign-up')">Log-in</button>
        <button class=" btn btn-outline-light " type="submit" (click)="onSelect('Sign-up')">Sign-up</button>
        </div>
    </div>
  </nav>

  <div class="container ">
    <div class="  col-md-10  col-10">
      <img src="../../../assets/images/break.svg">
    </div>
    <div class="  col-md-10  col-10">
      <table >
        <tbody >
          <td>
            <tr>
              <p> <span>Break</span> </p>
            </tr>
            <tr>
              <p><span> The Rules Of </span></p>
            </tr>
            <tr>
              <p><span> Fashion With</span></p>
            </tr>
            <tr>
              <p style=" color: #CC051C;">Glitch</p>
            </tr>
          </td>
        </tbody>
      </table>
    </div>
  </div>

